#img-login{
    background-image: url('../imagens/img-login.jpg');
    background-size: cover;
}

#img-cadastro{
    background-image: url('../imagens/img-cadastro.jpg');
    background-size: cover;
    background-position: center;
}